{% extends "base.html" %}

{% block content %}
<!-- Main -->
<article>

  <header class="special container">

    <!-- add page sub title here -->
    <div class="crop">
    {% if article.cover %}<img src="{{ article.cover }}" alt="">{% endif %}
      
    </div>
  </header>

  <!-- One -->
    <section class="wrapper style4 container">

      <!-- Content -->
        <div class="content">
          <section>
            <h2>{{ article.title }}</h2>
            <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
            <h5> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>, 
            {% if article.tags %}
              {% for tag in article.tags %}
                <b>{{ tag }}</b>
              {% endfor %}
            {% endif %}
            </h5>

            <p>{{ article.content }}</p>
          </section>

        </div>

    </section>
    <!-- Two -->
    {% include 'most_recent.html' %}

  </article>

{% if DISQUS_SITENAME %}
  <div id="comments">
      <h2 class="space-above">Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_identifier = "{{ article.url }}";
          (function() {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
  </div>
{% endif %}

{% endblock content %}